---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% comment %} try adding pages here {% endcomment %}
pages should appear here:
{% assign pages = site.pages %}
{% for page in pages %}
  {% include archive-single-page.html %}
{% endfor %}

{% comment %} try adding collections here {% endcomment %}
collections should appear here:
TTRPG
<ul>
  {% for ttrpg in site.TTRPG %}
  <li>
    <a href="{{ ttrpg.url }}">{{ ttrpg.title }}</a>
    - {{ ttrpg.headline }}
  </li>
  {% endfor %}
</ul>

Crypto
<ul>
  {% for currentCrypto in site.crypto %}
  <li>
    <a href="{{ currentCrypto.url }}">{{ currentCrypto.title }}</a>
    - {{ currentCrypto.headline }}
  </li>
  {% endfor %}
</ul>

Technology
<ul>
  {% for currentTech in site.technology %}
  <li>
    <a href="{{ currentTech.url }}">{{ currentTech.title }}</a>
    - {{ currentTech.headline }}
  </li>
  {% endfor %}
</ul>

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
